API name


                

        

        

                

        
            <h2>/test</h2>





        

                

        
            <h2>/test/{pathVariable_object}</h2>







<h3>POST post</h3>

<b></b>











	        
	



	        
    



<hr>
<h5>TYPE  type  </h5>
{"name":"type","type":"BOOLEAN"}

	

<ul>
	<li>type: BOOLEAN</li>
	<li>required: </li>
	<li>default : </li>
	<li>restriction:  </li>
	<li>additional properties: </li>

	

	
</ul>



<ul>

</ul>






<ul>

</ul>






<ul>

</ul>



    






	        
	



<hr>
<h5>TYPE  qp_arrayString  </h5>
{"componentname":"qp_arrayString","items":{"required":false,"type":"STRING"},"name":"qp_arrayString","required":false,"type":"ARRAY"}

	

<ul>
	<li>type: ARRAY</li>	<li>componentname: (en tant que component seulement) qp_arrayString</li>
	<li>required:  false</li>
	<li>default : </li>
	<li>restriction:  </li>
	<li>additional properties: </li>

	
	<li>unique items: </li>
	<li>min items: </li>
	<li>max items: </li>
	<li>items: 



<hr>
<h5>TYPE  </h5>
{"required":false,"type":"STRING"}

	

<ul>
	<li>type: STRING</li>
	<li>required:  false</li>
	<li>default : </li>
	<li>restriction:  </li>
	<li>additional properties: </li>

	
	<li>format: </li>
	<li>enum: </li>
	<li>min length: </li>
	<li>max length: </li>
	<li>pattern: </li>
	
</ul>



<ul>

</ul>



</li> 	

	
</ul>



<ul>

</ul>






<ul>

</ul>



    









    
            
    
<h4>RESPONSE  1XX  </h4>

<p></p>






<hr>
<h5>TYPE  header1  </h5>
{"name":"header1","required":false,"type":"STRING"}

	

<ul>
	<li>type: STRING</li>
	<li>required:  false</li>
	<li>default : </li>
	<li>restriction:  </li>
	<li>additional properties: </li>

	
	<li>format: </li>
	<li>enum: </li>
	<li>min length: </li>
	<li>max length: </li>
	<li>pattern: </li>
	
</ul>



<ul>

</ul>



    





<hr>
<h5>TYPE  header2  </h5>
{"name":"header2","required":false,"type":"STRING"}

	

<ul>
	<li>type: STRING</li>
	<li>required:  false</li>
	<li>default : </li>
	<li>restriction:  </li>
	<li>additional properties: </li>

	
	<li>format: </li>
	<li>enum: </li>
	<li>min length: </li>
	<li>max length: </li>
	<li>pattern: </li>
	
</ul>



<ul>

</ul>



    







    



	        
    



<hr>
<h5>TYPE  type  </h5>
{"name":"type","type":"BOOLEAN"}

	

<ul>
	<li>type: BOOLEAN</li>
	<li>required: </li>
	<li>default : </li>
	<li>restriction:  </li>
	<li>additional properties: </li>

	

	
</ul>



<ul>

</ul>






<ul>

</ul>



















        


